<div class="jumbotron">
    <h1>Hey there!</h1>
    <p>I'm Sidhant. I'm a Software Engineer and specialize in backend API development. I also play music and click photos.</p>
</div>


<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Blog</a></li>
        <li><a data-toggle="tab" href="#pictures">Pictures</a></li>
        <li><a data-toggle="tab" href="#music">Music</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <%= react_component 'AllPosts' %>
        </div>
        <div id="pictures" class="tab-pane fade">
            <iframe src="//users.instush.com/collage/?cols=11&rows=12&sl=true&user_id=43196282&username=sidhupanda&sid=-1&susername=-1&tag=-1&stype=mine&bg=transparent&space=true&rd=true&grd=false&gpd=6&drp=false&pin=true&t=999999FugV1e7NEK_nIEOY8zasK853c9hMvg9i3NRi27J1Zab2O3tZFU4DWDP2xBMTDLm-A8A5bLaE4oc" allowtransparency="true" frameborder="0" scrolling="no"  style="display:block;width:1145px;height:1248px;border:none;overflow:visible;" ></iframe>
        </div>
        <div id="music" class="tab-pane fade">
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/282684289&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </div>
    </div>
</div>


