.navbar-white {
  background-color: white;
  border-color: #3AAED8;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: #3AAED8;
  color: white;
}

.summary {
  margin-top: 10px
}

time {
  color: grey
}

.img-circle {
  width: 96px;
  height: 96px;
}
body {
  padding-top: 50px;
  padding-bottom: 10px;
}

.main-body {
  padding-right: 15px;
  padding-left: 15px;
}

.side-body {
  padding-right: 15px;
  padding-left: 15px;
}

.brand-color-text {
  color: #3AAED8;
}

.brand-color-box {
   background: #3AAED8;
   color: white !important;
}

.jumbotron {
  color: white !important;
  padding-top: 24px;
  padding-bottom: 72px;
}

/* unvisited link */
a:link {
  color: #3AAED8;
}

/* visited link */
a:visited {
  color: #3AAED8;
}

/* mouse over link */
a:hover {
  color: #256E89;
}

/* selected link */
a:active {
  color: #3AAED8;
}

.navbar-brand {
  color: #3AAED8;
}

.pagination > .active > span,
.pagination > .active > span:hover {
  background: #3AAED8;
  border-color: #3AAED8;
}

.pagination > li > a:hover,
.pagination > li > a:active,
.pagination > li > a:visited,
.pagination > li > a:link {
  color: #3AAED8;
}